{% load static %}
{% load tz_detect %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Home{% endblock title %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white" >
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'tweets:home' %}" >
                <img src="{% static 'images/twitter.png' %}" width=40 alt="">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if user.avatar %}
                          <img class='base-user-avatar' src="{{ user.avatar.url }}" alt="">
                        {% else %}
                        <img class='base-user-avatar' src="{% static 'images/nobody.jpg' %}" alt="">
                        {% endif %}
                        <span style='color:black;'>@{{ user.username}}</span>
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'tweets:user' user.username %}" role="button">Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'account_change_password' %}" role="button">Change password</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'account_logout' %}" role="button">Log out</a></li>
                      </ul>
                    </li>
                  {% endif %}
                  <li class="new-tweet-nav-item nav-item">
                    <a class='' aria-current="page" href="{% url 'tweets:new_tweet' %}"><img class='new-tweet' src="{% static 'images/new_tweet.png' %}" alt=""></a>
                  </li>
                  <li class="messages-base nav-item">
                    <a  class='messages-base' aria-current="page" href="#">Messages</a>
                  </li>
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </form>
                <form class="rrr d-flex">
                    {% if user.is_authenticated %}
                    {% else %}
                      <a class="navbar-button-left btn btn-outline-success" href="{% url 'account_login' %}" role="button">Log In</a>
                      <a class="btn btn-success" href="{% url 'account_signup' %}" role="button">Sign Up</a>
                    {% endif %}
                </form>
              </div>
            </div>
        </nav>
        <div class='container'>
            {% block content %}
            {% endblock content %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        
        {% tz_detect %}
    </body>
</html>